<a href="https://colab.research.google.com/github/manavpatil922/Individual-Exercise-214523/blob/main/1stAssingment_214523.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A program using input
name = input('Enter your name:')
print('Hello' +  name)

Enter your name: Manav
Hello Manav

In [ ]:
#Exercise2: write a program to find payment according to number of hours and rate per hour, 
hours = float(input('Enter Hours:'))
rate = float(input('Enter Rate:'))
pay = hours * rate
print ('Pay =', pay)

Enter Hours:100
Enter Rate:1
Pay = 100.0

In [ ]:
#Exercise 3: Assume that we execute the following assignment statements:
#width = 17
#height = 12.0

width = float(input("Enter the Width: "))
height = float(input("Enter the Height: "))

print("Value is : ", width // 2, "and type is: " ,type(width // 2))
print("Value is : ", width / 2.0 ,"and type is: " , type(width / 2.0))
print("Value is : ", width / 3 ,"and type is: " , type(width / 3))
print("Value is :" , 1 + 2 * 5,"and type is: " , type(1 + 2 * 5))

Enter the Width: 17
Enter the Height: 12.0
Value is :  8.0 and type is:  <class 'float'>
Value is :  8.5 and type is:  <class 'float'>
Value is :  5.666666666666667 and type is:  <class 'float'>
Value is : 11 and type is:  <class 'int'>

In [ ]:
#Exercise 4:Write a program which prompts the user for a Celsius temperature, convert the temperature to Fahrenheit, and print out the Result Write a program which prompts the user f

temp1 = float(input('Enter temperature in celsius here :'))
temp2 = 1.8 * temp1 + 32
print(temp2)

Enter temperature in celsius here :56
132.8

In [ ]:
CHAPTER3

In [ ]:
#Exercise 5: Rewrite your pay computation to give the employee 1.5 times the hourly rate for hours worked above 40 hours.
#Enter Hours: 45
#Enter Rate: 10
#Pay: 475.0

hours = float(input('Enter Hours:'))
rate = float(input('Enter Rate:'))

if hours <= 40:
  pay = hours * rate
else: 
  pay = ((hours - 40) * (1.5 * rate)) + (40 * rate)

print ('Pay =', pay)

Enter Hours:45
Enter Rate:10
Pay = 475.0

In [ ]:
#Exercise 6: Rewrite your pay program using try and except so that your program handles non-numeric input gracefully by 
#printing a message and exiting the program. The following shows two executions of the program:

H = input('Enter Hours:')
R = input('Enter Rate:')

try:
  hours = float(H)
  rate = float (R)
  if hours <= 40:
    pay = hours * rate
  else:
    pay = ((hours - 40) * (1.5 * rate)) + (40 * rate)
  print ('Pay ='), pay
except:
   print('Error, please enter numeric input')

Enter Hours:45
Enter Rate:nine
Error, please enter numeric input

In [ ]:
#Exercise 7: Write a program to prompt for a score between 0.0 and 1.0.
# If the score is out of range, print an error message. If the score is
#between 0.0 and 1.0, print a grade using the following table: 
#Score Grade  #>= 0.9 A
              #>= 0.8 B
              #>= 0.7 C
              #>= 0.6 D
              #< 0.6 F

score = input("Enter Score: ")
s =  float(score)
x = 'Error'
if s >= 0.9:
	x = 'A'
elif s >=0.8:
	x='B'
elif s >=0.7:
	x='C'
elif s >= 0.6:
	x='D'
elif s < .6:
	x ='F'
else:
  x ="Out of Range"
print (x)

Enter Score: 0.95
A

In [ ]:
Year = float (input('year = '))

if (Year % 4) == 0 :
  print("It is a leapyear")
else :
  print("It is not a leapyear")

year = 2003
It is not a leapyear